{% extends 'base.html' %}
{% block title %}401{% endblock %}
{% block content %}
<body class="{% block body %}four-zero-four{% endblock %}">
    <div class="four-zero-four-container">
        <div class="error-code">401</div>
        <div class="error-message">The request has not been applied because it lacks valid authentication credentials for the target resource.</div>
        <div class="button-place">
            <a href="/" class="btn btn-default btn-lg waves-effect">GO TO HOMEPAGE</a>
        </div>
    </div>
</body>
{% endblock %}
